---
layout: base
title: The revolutionary Java middleware testing platform
javascripts: [ /javascripts/slides.js ]
body_class: home
---
#main
  .container
    .logline
      %h2 Arquillian: the revolutionary Java middleware testing platform
      %p No more mocks. No more container lifecycle and deployment hassles. Just <u><em>real</em></u> tests!
    .cta
      %a.primary{:href=>'/guides/getting_started'} Get Started!
  #slides
    .slide
      .container.layout1
        .headline
          %h2 Don't write another test until you study this one <img src="/images/right_arrow.png" alt=">"/>
          %ol
            %li Delegates execution of the test to Arquillian
            %li Creates a test archive that provides classpath isolation
            %li Injects the CDI bean from the application code
            %li Specifies a test method for asserting behavior
        .visual
          :textile
            div(filetab). GreeterTest.java

            bc(prettify).. @RunWith(Arquillian.class) #1
            public class GreeterTest {
                @Deployment #2
                public static JavaArchive createDeployment() {
                    return ShrinkWrap.create(JavaArchive.class)
                        .addClass(Greeter.class)
                        .addAsManifestResource(EmptyAsset.INSTANCE, "beans.xml");
                }

                @Inject #3
                Greeter greeter;

                @Test #4
                public void should_create_greeting() {
                    assertEquals("Hello, Earthling!", greeter.greet("Earthling"));
                }
            }

            notextile. 
    .slide
      .layout3
        .container
          .headline
            %p.link
              %a{:href=>'/blog/2011/10/02/arquillian-wins-a-duke-choice-award/'} Arquillian wins a Duke's Choice Award at JavaOne 2011
        .visual{:style=>'background: url(\'/images/dukeschoiceaward2011_enhanced.jpg\') top center no-repeat'}
    .slide
      .container.layout2
        .visual
          %a{:href=>'guides/getting_started'}
            %img{:src=>'/images/screenshot-guides-index.png'}
        .headline
          %h2 Earn your first Arquillian green bar!
          :textile
            Follow the "Getting Started":/guides/getting_started/ guide to learn how to add the Arquillian infrastructure to your test suite, write your first test and get it to pass. Get started now! *(greenbar)Green bar*.
          %img.trim{:src=>'/images/guides/arquillian_tutorial_junit_green_bar.png', :style=>'margin-left: -25em;'}
  :javascript
    $(function() {
      var winWidth = $(window).width();
      // waiting on responsive to be implemented correctly
      $('.slide').css('width', winWidth);
      var startSlide = 1;
      if (window.location.hash) {
        startSlide = window.location.hash.replace('#','');
      }
      $('#slides').slides({
        //reponsive: true,
        height: $('#slides').height(),
        width: winWidth,
        navigation: false,
        playInterval: 10000,
        pauseInterval: 60000,
        preload: {
          active: false
        },
        fade: {
          interval: 500
        },
        slide: {
          browserWindow: false,
          interval: 750
        },
        startAtSlide: startSlide,
        navigateEnd: function(current) {
          window.location.hash = '#' + current;
        }
      });
      //window.setTimeout(function() {
      //  $('#slides').slides('play');
      //}, 10000 + 1000);
      $('.slide').css('cursor', 'pointer').children().click(function(e) {
        if (e.target.tagName === 'A' || $(e.target).parent().get(0).tagName === 'A') {
          return true;
        }
        e.preventDefault();
        $('#slides').slides('next');
      });
      window.setInterval(function() {
        var winWidth = $(window).width();
        $('.slideContainer').css('width', winWidth);
        $('.slideController').css('width', winWidth);
        $('.slide').css('width', winWidth);
      }, 500);
    });
  .container
    %p.question What's been happening lately?
  #activity
    .container
      #news
        %h2.icon.news Latest News
        %ul
          - for post in site.posts[0,3]
            %li
              %h3
                %a{ :href=>post.url }= post.title
              - if (post.content.length > 0)
                %p= summarize(html_to_text(post.content), 50)
        .more
          %a{ :href=>'/blog' } View all blog entries &raquo;
      #spotlight
        %h2.icon.crown Featured Noble
        - nbl = site.identity(site.featured_user)
        %ul
          %li
            %a{:href=>nbl.jboss.url}
              %img{:src=>"#{nbl.avatar_url}?s=44", :width=>44, :height=>44}
            %h3{:style=>'margin-bottom: 0.2em'}= nbl.name
            %em{:style=>'display: block; margin-bottom: 1em;'}= nbl.location
            :textile
              #{site.featured_bio}
        .more
          %a{ :href=>'/community/nobles' } View all nobles &raquo;
      #events
        %h2.icon.invasion Upcoming Events
        %ul
          - for session in site.sessions[0,3]
            %li
              %span.date<
                %abbr><= session.start_datetime.strftime('%b')
                = session.start_datetime.strftime('%d')
              %h3
                %a{:href=>session.event_url}= session.event
              %div.location= session.event_location
              %p<>
                #{session.speaker_names.join(' and ')} will be presenting on
                %a{:href=>session.detail_url}= session.title
                = '.'
        .more
          %a{ :href=>'/invasion/events' } View all events &raquo;
