---
layout: base
body_class: home
---
#main
  %header#intro(role='intro')
    .container
      .logline
        :textile
          h2. So _you_ can rule your code. Not the bugs.

          No more mocks. No more container lifecycle and deployment hassles. Just _real_ tests!
      .cta
        %a.primary(href='/guides/getting_started/?utm_source=cta') Get Started!
  -# .slide required to fix IE bug in bootstrap < 2.1
  #slideshow
    .item.active
      .layout-photo{:style=>'background-image: url(\'/images/arquillian_in_action_cover.jpg\'); background-size: 32%; background-position: 70% 5px'}
        .visual
        .container
          .headline{:style=>'width:500px;margin-top:-100px;margin-left:50px'}
            :textile
              !http://gravatar.com/avatar/8ac4459a1de90107204dbe42c2e687be?s=25! Alex Soto Bueno & !http://gravatar.com/avatar/c4ffa13c27fbb20c8404bd296e274007?s=25! Jason Porter presents: 

              h2. "Arquillian IN ACTION":http://www.manning.com/sotobueno/

              _Arquillian in Action_ teaches you how to to build in-container tests using Arquillian. This practical hands-on guide begins with showing you how to find and squash your first bug. You'll move on to building persistence tests, and then discover how to write tests for front-end and RESTful services. Using carefully-designed examples, the book shows you how to write integration tests for Java EE, Spring, and Docker. Along the way, you'll also learn how to build functional, infrastructure, performance, and security tests.

              p(more). "Order now":http://www.manning.com/sotobueno/ &raquo;
  -#
    #slideshow.carousel.slide
      .carousel-inner
        .item.active
          .layout-photo{:style=>'background-image: url(\'/images/continuous_enterprise_development_cover.png\'); background-size: 80% 100%; background-position:90%'}
            .visual
            .container
              .headline{:style=>'width:500px;margin-top:-100px;margin-left:50px'}
                :textile
                  !http://gravatar.com/avatar/4369758fcee235bebd875f0de34aa42e?s=25! Andrew Lee Rubinger & !http://gravatar.com/avatar/3f27861ec08730fd02c91fe4129d2668?s=25! Aslak Knutsen presents: 

                  h2. "Continuous Enterprise Development in Java, Testable solutions with Arquillian":http://shop.oreilly.com/product/0636920025368.do

                  Learn a use-case approach for developing Java enterprise applications in a continuously test-driven fashion.

                  p(more). "Order now":http://shop.oreilly.com/product/0636920025368.do &raquo;
        .item
          .layout-title{:style=>'background-image: url(\'/images/invasion.jpg\')'}
            .visual
            .container
              .headline
                :textile
                  h2. "Arquillian 1.1.4 has arrived!":/blog/2014/03/31/arquillian-core-1-1-4-Final/
        .item
          .container.layout-sample
            .headline
              :textile
                h2. Don&apos;t write another test until you study this <span class="bind">one %(arrow)&#9654;%</span>

                # Delegates execution of the test to Arquillian, which runs the test inside the active container
                # Creates an archive to isolate classes and resources for the test scenario
                # Wires the component from the archive to the test case
                # Invokes a method on the component and validates its return value
            .visual
              :textile
                bc(prettify).. @RunWith(Arquillian.class) // (1)
                public class GreeterTest {
                    @Deployment // (2)
                    public static JavaArchive createDeployment() {
                        return ShrinkWrap.create(JavaArchive.class)
                            .addClass(Greeter.class)
                            .addAsManifestResource(EmptyAsset.INSTANCE, "beans.xml");
                    }

                    @Inject // (3)
                    Greeter greeter;

                    @Test // (4)
                    public void should_create_greeting() {
                        assertEquals("Hello, Earthling!", greeter.greet("Earthling"));
                    }
                }
        .item
          .layout-photo{:style=>'background-image: url(\'/images/team_receiving_dukes_choice_award_1600.jpg\'); background-size: 1500px auto; background-position: center -110px;'}
            .visual
            .container
              .headline
                :textile
                  h2. "Arquillian wins a Duke&apos;s Choice Award at JavaOne 2011":/blog/2011/10/02/arquillian-wins-a-duke-choice-award/

                  This award goes out to the entire Arquillian community: coders, bloggers and evangelists. Excellent work! 

                  p(more). "Read more":/blog/2011/10/02/arquillian-wins-a-duke-choice-award/ &raquo;
        .item
          .container.layout-gallery
            .visual
              :textile
                !/images/screenshot-guides-index.png!:/guides/getting_started
            .headline
              :textile
                h2. Earn your first Arquillian green bar!

                Follow the "Getting Started":/guides/getting_started/ guide to learn how to add the Arquillian infrastructure to your test suite, write your first test and get it to pass. Get started now!

                *(greenbar)Green bar.*

                !(trim)/images/junit_green_bar.png!
      %a.carousel-control.left(href="#slideshow" data-slide="prev") &lsaquo;
      %a.carousel-control.right(href="#slideshow" data-slide="next") &rsaquo;
    %script $(function() { activateSlideshow() })
  %hr.taper
  .container
    %p.question What's been happening lately?
  #activity
    .container
      #spotlight
        %h2.icon.crown Contributor Spotlight
        - sel = Date.today.cweek % site.featured.length
        - spotlight = site.identities.lookup(site.featured[sel].user)
        %ul
          %li
            %a{:href=>spotlight.url}
              %img{:src=>spotlight.avatar_url(44), :width=>44, :height=>44}
            %h3{:style=>'line-height: 1; margin-bottom: 0;'}= spotlight.name
            %em{:style=>'display: block; margin-bottom: 1em;'}= spotlight.location
            :textile
              #{site.featured[sel].bio}
        .more
          %a(href='/community/contributors') View all contributors &raquo;
      #news
        %h2.icon.news Latest News
        %ul
          - for post in site.posts[0,3]
            %li
              - author = site.identities.lookup(post.author)
              %a{:href => author.url }
                %img.avatar{:src=>author.avatar_url(44), :style=>"margin-top:2px", :title=>"Posted by #{author.name} on #{post.date.strftime('%b %d, %Y')}"}
              %h3
                %a{:href=>post.url}= post.title
              - if (post.content.length > 0)
                - cut_at = post.content.index(/<pre[^>]*>/)
                -#%p= summarize(html_to_text(cut_at ? post.content[0,cut_at] : post.content), 50)
                - text = html_to_text(cut_at ? post.content[0, cut_at] : post.content)
                -# might want to use 'white-space: pre-line;' here
                - first_sentence = text.index(/[\.\!]( |$)/)
                - second_sentence = text.index(/[\.\!]( |$)/, [ first_sentence + 1, text.length - 1].min) || text.index(/[ ]/, [ first_sentence + 1, text.length - 1 ].min)
                - summary = text[0..second_sentence]
                %p<= summary + '...'
        .more
          %a(href='/blog') View all blog entries &raquo;
      #events
        %h2.icon.invasion Upcoming Events
        %ul
          - for session in site.sessions[0,3]
            %li
              %span.date<
                %abbr><= session.start_datetime.strftime('%b')
                = session.start_datetime.strftime('%d')
              %h3(style='line-height: 1; margin-bottom: 0;')
                %a{:href=>session.event_url}= session.event
              %em.location(style='display: block; margin-bottom: .5em;')= session.event_location
              %p<>
                #{session.speaker_names.join(', ').sub(/(.*), /, '\1 and ')} will present:
                %br
                %a{:href=>session.detail_url}= session.title
        .more
          %a(href='/invasion/events') View all events &raquo;
