---
---
%article.post
  %header.header
    %h2.title
      %a{:href=>page.post.url}= page.post.title
    .byline
      - identity = site.identities.lookup(page.post.author)
      %a{:href=> identity.url}
        %img.avatar{:src=>identity.avatar_url(44)}
      %span.author<
        Posted by
        - if identity
          = identity.to_link
        - else
          = page.post.author
      %span.dateinline on #{page.post.date.strftime('%b %d, %Y')}
      .date= page.post.date.strftime('<abbr>%b</abbr> %d') if !page.post.date.nil?
      - if site.disqus
        %span.comments |#{page.post.disqus_comments_link}
  .body
    ~ page.post.content
  .footer
    %a{:href=>page.post.url} permalink
    |
    %i.icon-tags
    tagged as
    = tag_links(page.post.tags, ' ', 'tag')
  - if page.include_comments
    #comments
      - if site.disqus
        = page.post.disqus_comments
  - if (page.include_comments or page.include_comments_count) and site.disqus
    = page.parent.disqus_comments_count
