---
layout: invasion
title: Events
bottom_javascripts: [ 'http://cdn.lanyrd.net/badges/person-v1.min.js' ]
---
%p We've found <strong>#{site.sessions.length}</strong> upcoming sessions about Arquillian (courtesy <a href="http://lanyrd.com">lanyrd.com</a>). If you know of an upcoming session taking place that's not shown here, please add it to lanyrd.com to help promote it.
%p
  Subscribe to this calendar via:
  %a{:href=>"#{site.base_url.gsub('http://', 'webcal://')}/invasion/events/arquillian.ics"} Desktop Client
  |
  %a{:href=>"http://www.google.com/calendar/render?cid=#{site.base_url.gsub(':', '%3A')}/invasion/events/arquillian.ics"} Google Calendar
  |
  %a{:href=>'arquillian.ics'} Manual Setup
#sessions
  - for session in site.sessions
    .session
      .header
        %h2.title
          %a{:href=>session.detail_url}= session.title
        .date= session.start_datetime.strftime('<abbr>%b</abbr> %d')
        %p.meta
          #{session.start_datetime.strftime('%a, %b %d, %Y - %I:%M%p')} to #{session.end_datetime.strftime('%I:%M%p')} #{session.timezone}
          at
          %a{:href=>session.event_url}= session.event
          in #{session.event_location}
      .body
        = session.description
      - if !session.speakers.empty?
        %p.speakers
          %strong Speakers:&#32;
          - for speaker in session.speakers
            %a{:href=>"http://lanyrd.com/profile/#{speaker['username']}/"}>= speaker['name']
            = ',&#32;' unless speaker == session.speakers.last
%h2 Arquillian Roadies
%p Below are a list of upcoming speaking events for the members of the Arquillian team.
- site.identities.speakers.each do |identity|
  - next unless identity.lanyrd
  %h3
    %img{:src=>identity.avatar_url(48), :alt=>identity.name, :style=>'vertical-align: middle; border: 3px double #ccc;'}
    = identity.name
  .lanyrd-target-splat
    %a.lanyrd-splat.lanyrd-template-detailed{ :href=>identity.lanyrd.profile_url, :rel=>'me' } See all of #{identity.name}'s upcoming appearances &raquo;
