---
layout: invasion
title: Events
javascripts: [ http://cdn.lanyrd.net/badges/person-v1.min.js ]
---

%table
  - for session in site.sessions
    %tr
      %th
        %a{:href=>"#{session.detail_url}"}=session.title
      %th #{session.start_time} - #{session.end_time}
      %th
        %a{:href=>"#{session.event_url}"}=session.event
    %tr
      %td{:colspan=>'3'}=session.speakers.join(', ')
    %tr
      %td{:colspan=>'3'}=session.description


- speakers = { 'aslakknutsen' => { :name => 'Aslak', :gravatar=>'3f27861ec08730fd02c91fe4129d2668' }, 'mojavelinux' => { :name=>'Dan', :gravatar=>'dcccd96c499963133f7f95e7ffa20c4e' }, 'alrubinger' => { :name => 'Andrew', :gravatar=>'4369758fcee235bebd875f0de34aa42e' } }
%p Below are a list of upcoming speaking events for the members of the Arquillian team.
- speakers.each do |username, person|
  %h2
    %img{:src=>"http://gravatar.com/avatar/#{person[:gravatar]}?s=48", :alt=>person[:name], :style=>'vertical-align: middle; border: 3px double #ccc;'}
    = person[:name]
  .lanyrd-target-splat
    %a.lanyrd-splat.lanyrd-template-detailed{ :href=>"http://lanyrd.com/profile/#{username}/", :rel=>'me' } See all of #{person[:name]}'s upcoming appearances &raquo;
