---
layout: invasion
title: Team
---
%h2 Simplified integration testing forks from here!

%p Meet the team leading the invasion and join our innovation effort to make integration testing for Java middleware simple and powerful! We believe innovation spawns from the forks and spreads throughout the community. The project also benefits tremendously from participation by  JBoss Quality Engineering (QE) group at Red Hat.

%ul.team
  - for username in ['aslakknutsen', 'mojavelinux', 'graphitefriction', 'alrubinger', 'kpiwko', 'lfryc', 'pmuir']
    - identity = site.identities.lookup(username)
    %li
      %a{:href=>identity.github.profile_url}<
        %img{:src=>identity.avatar_url(60), :alt=>identity.name, :data=>{:toggle=>'modal', :target=>'#' + identity.github_id}}
      %h3= identity.name
      %strong= identity.role
      %em= identity.location
  %li
    %a(href='/community/contributors')<
      %img(src='/images/arquillian_noble_60.png' alt='Contributors')
    %h3 Community
    %strong Contributors
    %em Worldwide
  %li
    %a(href='http://redhat.com')<
      %img(src='/images/jboss_logo_60px.png' alt='JBoss, by Red Hat')
    %h3 JBoss QE Group
    %strong Quality Assurance
    %em Brno, Czech Republic
  %li
    %a{:href=>'http://github.com/arquillian'}<
      %img{:src=>'http://gravatar.com/avatar/9be5bfc3104c3702712413ff986fe45b?s=60', :alt=>'Ike'}
    %h3 Ike
    %strong Mascot, Protector
    %em Above the clouds
-# FIXME integrate into list w/o messing up styles
- for username in ['aslakknutsen', 'mojavelinux', 'graphitefriction', 'alrubinger', 'kpiwko', 'lfryc', 'pmuir']
  - identity = site.identities.lookup(username)
  %div.modal.hide{:id=>identity.github_id}
    .modal-header
      %a.close{:data=>{:dismiss=>'modal'}}<
        %i.icon-remove
      %h3<
        = identity.name
        %small= identity.location
    .modal-body.clearfix(style='max-height: 300px; overflow-y: auto; padding-bottom: 0')
      -# FIXME remove hardcoded style
      %img.thumbnail{:src=>identity.avatar_url(60), :alt=>identity.name, :style=>'float: left; margin: 2px 10px 3px 0;'}
      - if !identity.bio.nil?
        :markdown
          #{identity.bio}
      - else
        %p No bio available.
      %h4(style='clear: left') Profiles
      %ul
        %li
          %a{:href=>identity.github.profile_url}> Github
        - unless identity.twitter.nil?
          %li
            %a{:href=>identity.twitter.url}> Twitter
        - unless identity.google.nil?
          %li
            %a{:href=>identity.google.url}> Google+
    .modal-footer
%p.rally
  %strong<
    Every contribution matters.
    %br
    Thanks for being part of the team!
