---
layout: default
title: Arquillian Blog
title_link: /blog/
body_class: blog
---
#content
  - for post in page.posts
    %article.post
      %header.header
        %h2.title
          %a{:href=>post.url}= post.title
        .byline
          %img.avatar{:src=>site.identities.lookup(post.author).avatar_url(44)}
          %span.author<
            Posted by
            - identity = site.identities.lookup(post.author)
            - if identity
              = identity.to_link
            - else
              = post.author
          %span.dateinline on #{post.date.strftime('%b %d, %Y')}
          .date= post.date.strftime('<abbr>%b</abbr> %d')
          - if site.disqus
            %span.comments |#{post.disqus_comments_link}
      .body
        ~ post.content
      .footer
        %a{:href=>post.url} permalink
        - if site.disqus
          |#{post.disqus_comments_link}
        |
        %i.icon-tags
        tagged as
        = tag_links(post.tags, ' ', 'tag')
  %ul.pager
    %li.previous{:class=>('disabled' unless page.posts.next_page)}
      %a{:href=>page.posts.next_page ? page.posts.next_page.url : '#'} &laquo; Older
    %li.pages Page #{page.posts.current_page_index + 1} of #{page.posts.pages.size}
    %li.next{:class=>('disabled' unless page.posts.previous_page)}
      %a{:href=>page.posts.previous_page ? page.posts.previous_page.url : '#'} Newer &raquo;
  - if site.disqus
    = page.disqus_comments_count
%aside#sidebar(role='complementary')
  .subscribe
    %h2.icon.news
      %a{:href=>'/blog/atom.xml'} Subscribe to the Arquillian Blog
    %p<
      %em Get the latest information on features, releases and events.
  %nav.latest
    %h2 Latest Posts
    %ul
      - for post in site.posts[0,5] do
        %li
          .title
            %a{ :href=>post.url }= post.title
          .meta
            = post.date.strftime('%b %d, %Y')
    - if site.disqus
      = page.disqus_popular_posts
  %nav.tags
    %h2 Tags
    = site.posts_tag_cloud
