---
layout: base
title: Blog
---
#main
  #content.container
    %h1 Arquillian Blog
    - for post in page.posts
      .post
        %h2.title
          %a{:href=>post.url}= post.title
        .byline{ :style=>'margin-left: 55px;' }
          .author
            = post.author
          .date{ :style=>'float: left; margin-left: -55px; margin-top: -.8em;' }
            #{post.date.strftime('<abbr>%b</abbr> %d')}
          .tags
            - post.tags.each do |tag|
              = tag
        .body{ :style=>'margin-left: 55px;' }
          ~ post.content
    = page.posts.links
