---
layout: base
title: Contributors
---
#main
  .container
    %h1 All Contributors

    #contributors
      - for contributor in site.contributors.sort{|a,b| a[0].to_s.downcase<=>b[0].to_s.downcase} 
        .contributor
          .photo
            %a{ :href=> "#{contributor[1]['user']['html_url']}"}
              %img{ :src=>"#{contributor[1]['avatar_url']}", :title=>"#{contributor[1]['user']['name']}" }
            .user
              %table{ :style=>"border:0"}
                %tr
                  %td="#{contributor[1]['user']['name']}, #{contributor[1]['user']['company']}"
                %tr
                  %td=contributor[1]['user']['location']
                %tr
                  %td
                    %a{ :href=>"#{contributor[1]['user']['blog']}"}="blog"
    
