---
layout: default
title: Contributors
---
- page.header_title = "#{page.title} <small>#{site.identities.contributors().size}</small>"
#content
  %ul.contributors
    - site.identities.contributors().sort_by{|c| c.commits * Order::DESC}.each do |contributor|
      %li
        %div.modal.hide{:id=>contributor.github_id}
          .modal-header
            %a.close{:data=>{:dismiss=>'modal'}}
              %i.icon-remove
            %h3
              =contributor.name
              %small= contributor.location
          .modal-body.clearfix
            %img.thumbnail{:src=>contributor.avatar_url(60), :alt=>contributor.name, :style=>'float: left; margin: 2px 10px 3px 0;'}
            - if !contributor.bio.nil?
              :markdown
                #{contributor.bio}
            - else
              No bio available.
        .photo
          %img{:src=>contributor.avatar_url(140), :alt=>contributor.name, :data=>{:toggle=>'modal', :target=>'#' + contributor.github_id}}
          %ul
            %li
              - if contributor.blog
                %a{:href=>contributor.blog} Blog
              - else
                %span Blog
            %li
              - if !contributor.twitter.nil?
                %a{:href=>contributor.twitter.url} Twitter
              - else
                %span Twitter
            %li
              %a{:href=>contributor.github.profile_url} GitHub
        %h3= contributor.name
        %strong= contributor.company
        %em= contributor.location
  %p
    %strong Is your information incomplete? Is your profile picture missing?
    This page mirrors information from your public github and gravatar profiles. To update your information, fill in your name, location and bio in your <a href="http://github.com">github account</a>. To get a photo or avatar to display, upload an image to the <a href="http://gravatar.com">gravatar account</a> that's linked to your github account. If you don't want your information on this page, please let us know and we'll honor your request.
