---
layout: default
title: Contributors
---
#content
  %ul.contributors
    - for contributor in site.contributors.values.sort{|a,b| b['contributions'] <=> a['contributions'] } 
      %li
        .photo
          %img{:src=>contributor['avatar_url'], :title=>contributor['user']['name']}
          %ul
            %li
              - if contributor['user']['blog']
                %a{:href=>contributor['user']['blog']} Blog
              - else
                %span Blog
            %li
              - if contributor['user']['twitter_id']
                %a{:href=>"http://twitter.com/#{contributor['user']['twitter_id']}"} Twitter
              - else
                %span Twitter
            %li
              %a{:href=>"http://github.com/#{contributor['login']}"} GitHub
        %h3= contributor['user']['name']
        %strong= contributor['user']['company']
        %em= contributor['user']['location']
  %p.clear <strong>Is your information incomplete? Is your profile picture missing?</strong> Make sure you link your gravatar to github, fill in your name, location and bio and link your gravatar to your twitter account.
