---
layout: default
title: Contributors
---
#content
  %ul.contributors
    - for contributor in site.contributors.sort{|a,b| a[0].to_s.downcase<=>b[0].to_s.downcase} 
      %li
        .photo
          %img{:src=>contributor[1]['avatar_url'], :title=>contributor[1]['user']['name']}
          %ul
            %li
              - if contributor[1]['user']['blog']
                %a{:href=>contributor[1]['user']['blog']} Blog
              - else
                %span Blog
            %li
              - if contributor[1]['user']['twitter_id']
                %a{:href=>"http://twitter.com/#{contributor[1]['user']['twitter_id']}"} Twitter
              - else
                %span Twitter
            %li
              %a{:href=>"http://github.com/#{contributor[1]['login']}"} GitHub
        %h3= contributor[1]['user']['name']
        %strong= contributor[1]['user']['company']
        %em= contributor[1]['user']['location']
