---
layout: default
title: Community
---
#content
  :textile 
    <div id="intro">
    As an open-source project, the Arquillian community has many entry points. We welcome your participation however it suits your level of interest.
    
    h2. Where Are We?

    The "Arquillian space":#{site.project_space} on the JBoss Community site and the ##{site.irc_channel} channel on the Freenode IRC network are the main channels of communication between community members. Read this page to learn about these and other community resources.

    Keep in mind that contributing code is not the only way to get involved. You can provide feedback on documentation and tutorials, test the releases, share your visions or just participate in the forum discussions. The various entry points are summarized below. See you there!

    </div>

    <div id="section">
    h2(icon forum). Forums and Wiki

    div(screenshot). !/images/screenshot-arquillian-forums.png!
  
    You'll find two discussion forums in the "Arquillian space":#{site.project_space} on the JBoss Community site.
  
    - "User discussions":#{site.user_forum} := The top-level space hosts discussions for developers using Arquillian in their project.
    - "Development discussions":#{site.dev_forum} := The development sub-space is reserved for discussions about contributing to Arquillian.

    These spaces also host community-edited information about Arquillian, under the Articles tab. The information that goes here is anything you want to share about the project that doesn't fit somewhere else, or you want to share quickly. It may be tips, guides or even full articles.
    </div>

    <div id="section">
    h2(icon chat). Chat (IRC)

    div(screenshot). !/images/screenshot-arquillian-irc.png!
  
    We invite you to join us in the ##{site.irc_channel} channel on irc.freenode.net to chat about Arquillian, ShrinkWrap and other topics related to testing. The channel has a broad scope that brings together people who are passionate about testing. You may also want to check out the #jbosstesting channel, where Arquillian is frequently the topic of discussion.
    
    This channel is logged to "transcripts.jboss.org":#{site.irc_transcripts} by JBossBot. The JBossBot is also present to expand issue numbers from the issue tracker.

    If you don't have an IRC client installed or available, you can use the "web-based client":webchat on this site to join the ##{site.irc_channel} channel.
    </div>
  
    <div id="section">
    h2(icon jira). Issue Tracker

    div(screenshot). !/images/screenshot-arquillian-jira.png!
  
    The project tracks bugs, feature-requests, and other issues through the JIRA issue-tracking system at JBoss.org.

    "Arquillian issue tracker":#{site.issue_tracker} | "Starter issues":http://tinyurl.com/arquillian-starter-issues
  
    To file issues or requests with JIRA, you must have a JBoss Community account (don't worry, "registering":https://community.jboss.org/login.jspa is easy).
    </div>

    <div id="section">
    h2(h2 icon git). Source Repository

    div(screenshot). !/images/screenshot-arquillian-github.png!

    All the Arquillian source code is managed using the distributed version system "git":http://git-scm.com and hosted in sub-modules of the "arquillian organization":http://github.com/#{site.github_organization} at github.com.

    Both git and github are awesome for collaboration! To make improvements or bug fixes to the Arquillian project, simply fork the project, commit your changes and send a pull request.
    </div>

    <div id="section">
    h2(icon crown). Arquillian Nobles

    div(graphic). !{width: 200px; height: 200px; margin-right: 4.1em}/images/arquillian_crown_icon_glossy_256.png!
  
    We value the contributions made to Arquillian by our community. That's why we've setup a page for recognizing people who have made key contributions along the way. Find out who's been crowed by visiting the "Arquillian Nobles":nobles page.

    Also check out the "full list of contributors":contributors to the Arquillian project.
    </div>
