---
layout: guide-base
title: Guides
---
- page.body_class = 'guide index'
- groups = ['First Steps', 'More Coverage', 'Enhance']
#content
  - groups.each_with_index do |group, index|
    %h2.group= group
    %dl
      - for guide in site.guides.select{|x| x.group == index + 1}.sort{|a, b| a.order <=> b.order}
        %dt<
          %a{:href=>guide.url}= guide.title
          - if guide.languages
            %a{:href=>guide.url}<
              %img.flag{ :src=>site.languages.en.flag_icon, :rel=>'tooltip', :title=>"#{site.languages.en.display_name_local} (en)" }
            - for translation in guide.languages
              %a{ :href=>translation.url }<
                %img.flag{ :src=>translation.language.flag_icon, :rel=>'tooltip', :title=>"#{translation.language.display_name_local} (#{translation.language.code})" }
        %dd= guide.summary
  %h2.group Reference
  %dl
    %dt<
      %a{:href=>site.ref_guide} Reference Guide
    %dd Reference information for the Arquillian project.
    %dt<
      %a{:href=>site.api_spi_docs} API &amp; SPI Documentation
    %dd Documentation for Java APIs and SPIs of Arquillian
    %dt<
      %a{:href=>site.migration_guides} Migration Guides
    %dd Instructions for migrating between versions of Arquillian.
    %dt<
      %a{:href=>site.faqs} FAQs
    %dd Knowledge base of frequently asked questions and helpful tips.
#sidebar
  %h3 Icon Legend
  %ul.legend
    %li.edit This icon identifies source files that you'll create or modify.
    %li.command This icon identifies a command you'll type in a console window.
    %li.info An info block provides helpful hints, fun facts and FAQs.
    %li.warning A warning block helps prevent you from getting tripped up.
    %li.important An important block highlights a critical point to keep in mind.
  %h3 Conventions
  %dl
    %dt // clip
    %dd Java code that is hidden
    %dt &lt;!-- clip --&gt;
    %dd XML code that is hidden
    %dt $
    %dd Indicates a command prompt
