!!! 5
%html{ :lang=>'en' }
  %head
    %meta{ :charset=>'utf-8'}
    %title #{site.title} | #{page.title}
    %meta{ :name=>'description', :content=>site.description }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/screen.css', :media=>'screen, projection' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/prettify.css', :media=>'screen, projection' }
    - if page.stylesheets
      - page.stylesheets.each do |stylesheet|
        %link{ :rel=>'stylesheet', :type=>'text/css', :href=>stylesheet, :media=>'screen, projection' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/print.css', :media=>'print' }
    /[if lt IE 8]
      %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/ie.css', :media=>'screen, projection' }
    %script{ :type=>'text/javascript', :src=>'/javascripts/jquery.js' }
    %script{ :type=>'text/javascript', :src=>'/javascripts/prettify.js' }
    - if page.javascripts
      - page.javascripts.each do |javascript|
        %script{ :type=>'text/javascript', :src=>javascript }
    :javascript
      $(function() {
        prettify();
        // stick footer to bottom
        $('#main').css('min-height', $(window).height() - $('#footer').outerHeight() - parseInt($('#main').css('margin-top')));
      });
  %body{ :class=>[ 'bp', page.body_class ] }
    #banner
      .container
        %h2#logo
          %a{ :href=>'/'}>
            %img.arquillian{ :src=>'/images/arquillian_glossy_no_shadow_icon_64.png', :alt=>'Arquillian', :title=>'Ike' }>
            arquillian
        #navigation
          %ul
            %li
              %a{ :href=>'/invasion/', :class=>"#{page.url =~ /^\/invasion\// ? 'current' : nil}"} Invasion
            %li
              %a{ :href=>'/blog/', :class=>"#{page.url =~ /^\/blog\// ? 'current' : nil}"} Blog
            %li
              %a{ :href=>'/features/', :class=>"#{page.url =~ /^\/features\// ? 'current' : nil}"} Features
            %li
              %a{ :href=>'/guides/', :class=>"#{page.url =~ /^\/guides\// ? 'current' : nil}"} Guides
            %li
              %a{ :href=>'/community/', :class=>"#{page.url =~ /^\/community\// ? 'current' : nil}"} Community
            %li
              %a{ :href=>'/code/', :class=>"#{page.url =~ /^\/code\// ? 'current' : nil}"} Code
    ~ interwiki_urls(content)
    #footer
      .container
        .project
          %img{:src=>'/images/arquillian_logo_200px.png'}
          %p.end
            Copyright 2011 The Arquillian Project
            %br
            Released under the <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache License, Version 2.0</a>.
        .footernav
          %h4 Learn
          %ul
            %li
              %a{:href=>'/invasion'} Mission
            %li
              %a{:href=>'/features'} Features
            %li
              %a{:href=>'/guides'} Guides 
            %li
              %a{:href=>site.ref_guide} Manual
        .footernav
          %h4 Get Involved
          %ul
            %li
              %a{:href=>site.user_forum} Forums
            %li
              %a{:href=>site.issue_tracker} Issues
            %li
              %a{:href=>site.source_repo} Source
            %li
              %a{:href=>'/community/nobles'} Nobles
        .sponser
          :textile
            The Arquillian project is a member of the "JBoss Community":http://jboss.org and development is sponsored by Red Hat, Inc.

            "!(branding)/images/jboss_redhat_branding.png!":http://jboss.org

            p(end). This website is open source! Please help us by "forking the project":http://github.com/arquillian/arquillian.github.com and hacking on it.
    -#= fork_me_ribbon(site, page)
    - if site.google_analytics
      = google_analytics
    = add_debug(site, page)
