!!! 5
%html{ :lang=>'en' }
  %head
    %meta{ :charset=>'utf-8'}
    %title #{site.title} | #{page.title}
    %meta{ :name=>'description', :content=>site.description }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/screen.css', :media=>'screen, projection' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/prettify.css', :media=>'screen, projection' }
    - if page.stylesheets
      - page.stylesheets.each do |stylesheet|
        %link{ :rel=>'stylesheet', :type=>'text/css', :href=>stylesheet, :media=>'screen, projection' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/print.css', :media=>'print' }
    /[if lt IE 8]
      %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/ie.css', :media=>'screen, projection' }
    %script{ :type=>'text/javascript', :src=>'/javascripts/jquery.js' }
    %script{ :type=>'text/javascript', :src=>'/javascripts/prettify.js' }
    - if page.javascripts
      - page.javascripts.each do |javascript|
        %script{ :type=>'text/javascript', :src=>javascript }
    :javascript
      $(document).ready(function() {
        prettify();
      });
  %body{ :class=>[ 'bp', page.body_class ] }
    #banner
      .container
        %h2#logo
          %a{ :href=>'/', :atl=>'Arquillian', :title=>'Ike' }>
            %img.arquillian{ :src=>'/images/arquillian_glossy_no_shadow_icon_64.png', :alt=>'Arquillian' }>
        #navigation
          %ul
            %li
              %a{ :href=>'/invasion/'} Invasion
            %li
              %a{ :href=>'/blog/'} Blog
            %li
              %a{ :href=>'/features/'} Features
            %li
              %a{ :href=>'/guides/'} Guides
            %li
              %a{ :href=>'/community/'} Community
            %li
              %a{ :href=>'/code/'} Code
        %a.jboss{ :href=>'http://jboss.org' }>
          %img{ :src=>'/images/jboss_community_logo.png', :alt=>'JBoss Community' }>
        %div{ :style=>'display: none; position: absolute; top: 49px; right: 0; font-weight: bold; width: auto; margin-right: 128px; font-size: 0.95em;'} Latest Release: #{site.releases.first.version}
    ~ interwiki_urls(content)
    #footer
      .container
        .project
          %img{:src=>'/images/arquillian_logo_200px.png'}
          %p{:style=>'margin-bottom: 0'} Copyright 2011 Red Hat, Inc.
          %p Released under the Apache License, Version 2.0.
        .footernav
          %h4 Learn
          %ul
            %li
              %a{:href=>'/invasion'} Mission
            %li
              %a{:href=>'/features'} Features
            %li
              %a{:href=>'/guides'} Guides 
            %li
              %a{:href=>site.ref_guide} Reference
        .footernav
          %h4 Get Involved
          %ul
            %li
              %a{:href=>site.user_forum} Forums
            %li
              %a{:href=>site.issue_tracker} Issues
            %li
              %a{:href=>site.source_repo} Source
            %li
              %a{:href=>'/community/nobles'} Nobles
        .sponser
          :textile
            The Arquillian project is a member of the "JBoss Community":http://jboss.org.
<<<<<<< HEAD

            "!(branding)/images/jboss_redhat_branding.png!":http://jboss.org

            This website is open source! Please help us by "forking the project":http://github.com/arquillian/arquillian.github.com and hacking on it.
    = fork_me_ribbon
=======
            
            This "website":http://github.com/arquillian/arquillian.github.com is open source. Please help us by forking the project and adding to it.
    = fork_me_ribbon(site, page)
>>>>>>> Updated fork_me_ribbon to include site/page as arguments to fetch the github repo info from the site or page. All non module pages will link to the Arquillian organisation, while modules directly to their repos
    = add_debug(site, page)
