---
layout: default
---
- page.body_class = 'blog'
- page.header_title = 'Arquillian Blog'
- page.javascripts = [ 'http://apis.google.com/js/plusone.js', 'http://platform.twitter.com/widgets.js' ]
#content
  .post
    .header
      %h2.title
        %a{:href=>page.url}= page.title
      .byline
        %span.author<
          by
          %a{:href=>"http://github.com/#{site.arq.user(page.author).github}"}= site.arq.user(page.author).fullname
        %span.dateinline on #{page.date.strftime('%b %d, %Y')}
        .date= page.date.strftime('<abbr>%b</abbr> %d') if !page.date.nil?
        %span.comments | 0 comments
      .body
        ~ content
    .footer
      %a{:href=>page.url} permalink
      | tagged as
      - page.tags.each do |tag|
        %a{:href=>tag.primary_page.url}
          #{tag}#{',' unless tag == page.tags.last} 
#sidebar
  .plusone
    %a.twitter-share-button{:href=>'https://twitter.com/share', :'data-count'=>'horizontal'} Tweet
    <g:plusone></g:plusone>
  .subscribe
    %a{:href=>'/blog.atom'}
      %img{:src=>'/images/feed_icon.png'}
    %h2
      %a{:href=>'/blog.atom'} Subscribe to the Arquillian Blog
    %p<
      %em Get the latest information on features, releases and events.
  %h2 Lastest Posts
  %ul
    - for post in site.posts[0,4] do
      %li
        %h5
          %a{ :href=>post.url }= post.title
        = post.date.strftime('%b %d, %Y')
  %h2 Tags
  = site.posts_tag_cloud
