---
layout: default
---
- page.body_class = 'blog'
- page.site_title = 'Arquillian Blog'
- page.header_title = page.site_title
- page.title_link = '/blog/'
- page.javascripts = [ 'http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4eab99ce39a26d46' ]
#content
  %article.post
    %header.header
      %h2.title
        %a{:href=>page.url}= page.title
        .edit_link=create_edit_link(page)
      .byline
        %img.avatar{:src=>site.identities.lookup(page.author).avatar_url(44)}
        %span.author<
          Posted by
          - identity = site.identities.lookup(page.author)
          - if identity
            %a{:href=>identity.url}= identity.name
          - else
            = page.author
        %span.dateinline on #{page.date.strftime('%b %d, %Y')}
        .date= page.date.strftime('<abbr>%b</abbr> %d') if !page.date.nil?
        - if site.disqus
          %span.comments |#{page.disqus_comments_link}
    .body
      ~ content
    .footer
      %a{:href=>page.url} permalink
      |
      %i.icon-tags
      tagged as
      = tag_links(page.tags, ' ', 'tag')
    #comments
      - if site.disqus
        = page.disqus_comments
    - if site.disqus
      = page.disqus_comments_count
%aside#sidebar(role='complementary')
  .addthis_toolbox.addthis_default_style
    %a.addthis_button_google_plusone{'g:plusone:size' => 'medium'}
    %a.addthis_counter.addthis_button_tweet
    %a.addthis_counter.addthis_pill_style
  .subscribe
    %h2.icon.news
      %a{:href=>'/blog.atom'} Subscribe to the Arquillian Blog
    %p<
      %em Get the latest information on features, releases and events.
  %nav.latest
    %h2 Latest Posts
    %ul
      - for post in site.posts[0,5] do
        %li
          .title
            %a{ :href=>post.url }= post.title
          .meta
            = post.date.strftime('%b %d, %Y')
    - if site.disqus
      = page.disqus_popular_posts
  %nav
    %h2 Tags
    = site.posts_tag_cloud
