---
layout: default
---
- page.body_class = 'blog'
- page.header_title = 'Arquillian Project Blog'
- page.bottom_javascripts = [ 'http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4eab99ce39a26d46' ]
#content
  .post
    .header
      %h2.title
        %a{:href=>page.url}= page.title
      .byline
        %span.author<
          by
          %a{:href=>"http://github.com/#{site.arq.user(page.author).github}"}= site.arq.user(page.author).fullname
        %span.dateinline on #{page.date.strftime('%b %d, %Y')}
        .date= page.date.strftime('<abbr>%b</abbr> %d') if !page.date.nil?
        - if site.disqus
          %span.comments |#{page.disqus_comments_link}
    .body
      ~ content
    .footer
      %a{:href=>page.url} permalink
      | tagged as
      = tag_links(page.tags)
    #comments
      - if site.disqus
        = page.disqus_comments
    - if site.disqus
      = page.disqus_comments_count
#sidebar
  .addthis_toolbox.addthis_default_style
    <a class="addthis_button_google_plusone" g:plusone:size="medium" style="width: 75px;"></a>
    %a.addthis_counter.addthis_button_tweet
    %a.addthis_counter.addthis_pill_style
  .subscribe
    %a{:href=>'/blog.atom'}
      %h2.icon.news Subscribe to the Arquillian Blog
    %p<
      %em Get the latest information on features, releases and events.
  %h2 Latest Posts
  %ul
    - for post in site.posts[0,4] do
      %li
        %h5
          %a{ :href=>post.url }= post.title
        = post.date.strftime('%b %d, %Y')
  - if site.disqus
    = page.disqus_popular_posts
  %h2 Tags
  = site.posts_tag_cloud
