---
layout: default
---
#content
  = content
%aside#sidebar(role='complementary')
  - if !page.posts
    .addthis_toolbox.addthis_default_style
      %a.addthis_button_google_plusone{'g:plusone:size' => 'medium'}
      %a.addthis_counter.addthis_button_tweet
      %a.addthis_counter.addthis_pill_style
  .subscribe
    %h2.icon.news
      %a(href='/blog/atom.xml') Subscribe to the Arquillian Blog
    %p<
      %em Get the latest information on features, releases and events.
  %nav.latest
    %h2 Latest Posts
    %ul
      - site.posts[0,5].each do |post|
        %li
          .title
            %a{:href=>post.url}= post.title
          .meta
            = post.date.strftime('%b %d, %Y')
    - if site.disqus
      = page.disqus_popular_posts
  %nav.tags
    %h2 Tags
    = site.posts_tag_cloud
