---
layout: base
---
- groups = [['beg', 'First Steps'], ['int', 'More Coverage'], ['adv', 'Enhance']]
#main(role='main')
  #content-header
    .container
      .headline
        %h1
          %a{:href=>'/guides/'} Arquillian Guides
          %small Designed exclusively to teach you how to use Arquillian to write real tests.
        .directory
          %a#guides_menu.guides_menu{:href=>'./'}
            Guides Index
            %i.icon-menu-closed
          #guides{:style=>'display: none'}
            %a.guides_menu{:href=>'./'}
              Guides Index
              %i.icon-menu-open
            %hr.clear
            - groups.each_with_index do |group, index|
              %dl{:class=>group[0]}
                %dt= group[1]
                - for guide in site.guides.select{|x| x.group == index + 1}.sort{|a, b| a.order <=> b.order}
                  %dd<
                    %a{:href=>guide.url}= guide.title
                    - if guide.languages
                      %br
                      %a{:href=>guide.url}<
                        %img.flag{:src=>site.languages.en.flag_icon, :rel=>'tooltip', :title=>"#{site.languages.en.display_name_local} (en)"}
                      - for translation in guide.languages
                        %a{:href=>translation.url}<
                          %img.flag{:src=>translation.language.flag_icon, :rel=>'tooltip', :title=>"#{translation.language.display_name_local} (#{translation.language.code})"}
            %dl.ref
              %dt Reference
              %dd<
                %a{:href=>site.ref_guide} Reference Guide
              %dd<
                %a{:href=>site.api_spi_docs} API &amp; SPI Docs
              %dd<
                %a{:href=>site.migration_guides} Migration Guides
              %dd<
                %a{:href=>site.faqs} FAQs
        %script $(function() { activateGuideMenuControl() })
  .container#guide
    ~ content
