---
layout: default
---
- page.title = "Community member: #{page.identity.name}"
- page.header_title = "#{page.identity.name}"
#content
  .row
    .span9
      .hero-unit
        .row
          .pull-left
            %img{:src=>page.identity.avatar_url(120), :alt=>page.identity.name, style:"padding:5px;"}
          %h2
            =page.identity.company
            %small #{page.identity.location}
          .bio=page.identity.bio

    .span3
      .well
        - unless page.identity.role.nil?
          %h4
            %i.icon-star
            = page.identity.role

        %dl.unstyled
          %dt
            GitHub
          %dd
            %a{:href=>page.identity.github.profile_url}
              =page.identity.github.username
          - unless page.identity.twitter.nil?
            %dt
              Twitter
            %dd
              %a{:href=>page.identity.twitter.url}
                ="@#{page.identity.twitter.username}"
          - unless page.identity.blog.nil?
            %dt
              Blog
            %dd
              %a{:href=>page.identity.blog} Blog
          - unless page.identity.teams.nil?
            %dd
              - for team in page.identity.teams
                %span.greenbar=team
- #for release in site.pages.select{|x| !x.release.nil? and page.identity.emails.index(x.release.released_by.email)}
- #release.title