---
layout: default
---
- page.body_class = 'invasion'
#sidebar
  %ul#tabs
    %li
      %a{:href=>'/invasion/', :class=>"#{page.url == '/invasion/' ? 'current' : nil}"} Mission
    %li
      %a{:href=>'/invasion/origins', :class=>"#{page.url == '/invasion/origins/' ? 'current' : nil}"} Origins
    %li
      %a{:href=>'/invasion/team', :class=>"#{page.url == '/invasion/team/' ? 'current' : nil}"} Team
    %li
      %a{:href=>'/invasion/buzz', :class=>"#{page.url == '/invasion/buzz/' ? 'current' : nil}"} Transmissions
    %li
      %a{:href=>'/invasion/events', :class=>"#{page.url == '/invasion/events/' ? 'current' : nil}"} Events
    %li
      %a{:href=>'/invasion/press', :class=>"#{page.url == '/invasion/press/' ? 'current' : nil}"} Press
    %li
      %a{:href=>'/invasion/videos', :class=>"#{page.url == '/invasion/videos/' ? 'current' : nil}"} Videos
    %li
      %a{:href=>'/invasion/spread', :class=>"#{page.url == '/invasion/spread/' ? 'current' : nil}"} Spread Ike!
#content
  ~ content
