---
layout: base
---

#main
  #content.container
    %h1 #{page.title}
    
    #versions
      %ul
        - for version in page.github_repo_tags
          %li= version['name'] 
      
    #contributors
      - for contributor in page.github_repo_contributors
        %a{ :href=> "#{contributor['user']['html_url']}"}
          %img.contributor{ :src=>"#{contributor['avatar_url']}", :title=>"#{contributor['user']['name']}" }
    
    ~ content

