---
layout: default
---
#content
  %p
    %strong Git Repository:
    %a{:href=>site.source_repo} arquillian
    %span /
    %a{:href=>page.github_org_repo['html_url']}= page.github_org_repo['name'] 
  %h3 Description
  %p= page.github_org_repo['description']
  ~ content
  %h3 Contributors
  %ul.contributors
    - for contributor in page.github_repo_contributors.sort{|a,b| a[0].to_s.downcase<=>b[0].to_s.downcase} 
      %li
        .photo
          %img{:src=>contributor['avatar_url'], :title=>contributor['user']['name']}
          %ul
            %li
              - if contributor['user']['blog']
                %a{:href=>contributor['user']['blog']} Blog
              - else
                %span Blog
            %li
              - if contributor['user']['twitter_id']
                %a{:href=>"http://twitter.com/#{contributor['user']['twitter_id']}"} Twitter
              - else
                %span Twitter
            %li
              %a{:href=>"http://github.com/#{contributor['login']}"} GitHub
        %h3= contributor['user']['name']
        %strong= contributor['user']['company']
        %em= contributor['user']['location']
