---
layout: default
---
#main
  #content.container
    %h1 #{page.title}
    .description
      %h3 Description
      =page.github_org_repo['description']
    ~ content
    #contributors
      - for contributor in page.github_repo_contributors.sort{|x, y| x['login'].downcase <=> y['login'].downcase}
        .contributor
          .photo
            %a{ :href=> "#{contributor['user']['html_url']}"}
              %img{ :src=>"#{contributor['avatar_url']}", :title=>"#{contributor['user']['name']}" }
          .user
            %table{ :style=>"border:0"}
              %tr
                %td="#{contributor['user']['name']}, #{contributor['user']['company']}"
              %tr
                %td=contributor['user']['location']
              %tr
                %td
                  %a{ :href=>"#{contributor['user']['blog']}"}="blog"
