---
layout: blog
---

~ content

%h3 What is Arquillian?

%p Arquillian is a platform that simplifies Java enterprise testing. It brings your test to the runtime, freeing you from having to manage the runtime from your test. As a result, you can focus on the task at hand, writing your integration test logic.

%p In addition to integrating with the two most popular unit testing frameworks, Arquillian can enrich your test case with components from the container and manage test automation and metrics tools such as <em>Selenium, JSFUnit and JaCoCo</em>.

%p We believe Arquillian is the missing link in Java enterprise development.

.releasenotes
  %h3 Issues
  - site.jira_release['versions'].select{|x| x['name'].eql? "#{page.jira_version_prefix}#{page.version}" }.each do |x|
    .release=x['releaseNotes']

.metadata
  %table
    %tr
      %th Module
      %td= page.github_repo
    %tr
      %th Version
      %td= page.version
    %tr
      %th Date
      %td= page.date
