---
layout: blog
---
%p The Arquillian team is proud to announce the <em>#{page.version}</em> release of the <em><a href="/module/#{page.github_repo}">#{page.module}</a></em> module!
~ content
%h3 What is Arquillian?
%p Arquillian is a platform that simplifies Java middleware testing. It brings your test to the runtime, freeing you from the concern of managing the runtime from your test. As a result, you can focus on the task at hand, <em>writing your integration test logic</em>.
%p In addition to integrating with the two most popular unit testing frameworks, Arquillian can enrich your test case with components from the container and manage test automation and metrics tools such as <em>Selenium, JSFUnit and JaCoCo</em>.
%p We believe Arquillian is the missing link in Java middleware development.
.releasenotes
  %h3 Resolved Issues
  - site.jira_release['versions'].select{|x| x['name'].eql? "#{page.jira_version_prefix}#{page.version}" }.each do |x|
    .release=x['releaseNotes']
.releaseinfo
  %table
    %tr
      %th Module
      %td= page.github_repo
    %tr
      %th Version
      %td= page.version
    %tr
      %th Release Date
      %td= page.date
