%p The Arquillian team is proud to announce the <em>#{page.release.version}</em> release of the <em>#{page.component.name}</em> component!
~ content
%h3 What is Arquillian?
%p= site.definition
%h3 Release details
%table.table.table-bordered.table-striped
  %tbody
    %tr
      %th Component
      - if page.component.modules.size > 1
        %td= page.component.name
      - else
        %td
          %a{:href=>page.component.modules.first.page.url}= page.component.name
    - if page.component.modules.size > 1
      %tr
        %th Modules
        %td
          %ul.unstyled
            - page.component.modules.each do |m|
              %li
                %a{:href=>m.page.url}= m.name
    %tr
      %th Version
      %td
        = page.release.version
        %span.label.tag
          %a{:href=>page.release.html_url} view tag
    %tr
      %th Release date
      %td= page.release.date.strftime('%Y-%m-%d')
    %tr
      %th Released by
      %td= page.release.released_by.name
    - if !page.release.compiledeps.empty?
      %tr
        %th Compiled against
        %td
          %ul.unstyled
            - page.release.compiledeps.each do |dep|
              %li= "#{dep.name} &#8211; #{dep.version}"
- unless page.release.published_artifacts.empty?
  %h3
    Published artifacts
    %small= page.release.published_artifacts.first.groupId
  %ul
    - page.release.published_artifacts.each do |a|
      %li
        = a.groupId
        &raquo;
        = a.artifactId
        - if a.packaging.eql? :jar
          %a.artifact{:href=>a.to_url, :target=>'_blank'} jar
        %a.artifact{:href=>a.to_pom_url, :target=>'_blank'} pom
- unless page.release_notes.nil?
  %h3
    Release notes and resolved issues
    %small= page.release_notes.resolved_issues.values.flatten.size
  %p= page.release_notes.comment 
  - page.release_notes.resolved_issues.each do |type, issues|
    - next if type.eql? 'Release'
    %dl
      %dt= type
      %dd
        %ul.unstyled
          - issues.each do |issue|
            %li= issue.gsub(/[\[\]]/, '')
%p
  Thanks to the following list of contributors:
  = (page.release.contributors.sort_by{|c| c.commits}.reverse.map{|c| identity = site.identities.lookup_by_contributor(c); identity.nil? ? c.name : identity.to_link} - [page.author]).join(', ')
